<% providers = PostProvider.unlimited %>


<% providers.each do |provider| %>

    <ul class='<%= "pricing_column gradient_blue" %>'>

        <li class="pricing_header1"><%=provider.film_provider.name %></li>
        <li class="pricing_header2"><%= link_to image_tag("core/logos/#{provider.film_provider.image_uri}"), provider.film_provider.uri %><%#= render partial:"by_post_limited_data", locals:{disc:provider.one} %> </li>

        <li class="odd" data-table="Disc One"><%= provider.one.price %></li>
        <li class="even" data-table="Disc Two"><%= provider.two.price %></li>
        <li class="odd" data-table="Disc Three"><%= provider.three.price %></li>
        <li class="even" data-table="Trail Period"><%= provider.film_provider.trial_period %></li>
        <li class="odd" data-table="Templates"><span class="pricing_no"></span></li>

        <li class="pricing_footer"><a href='<%=provider.film_provider.uri%>' class="pricing_button">Sign Up </a></li>
        
    </ul><!-- END FIRST CONTENT COLUMN -->
<% end %>

<!-- 

<div class="header">
    <h3 data-toggle="collapse" data-target="#bypostunlimited">By Post - <font class="large">Unlimited</font></h3>
    <h4>Sites that offer unlimited rentals per month, by post, for a higher monthly fee</h4>
</div>
<div id="bypostunlimited" class="collapse in">
    <table class="table">
        <thead>
            <tr>
                <th>Provider</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Trial Period</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% providers.each do |provider| %>
            <tr>
                <td><%#= link_to image_tag("core/logos/#{provider.film_provider.image_uri}"), provider.film_provider.uri %>
                </td>
                <td><%= provider.one.price %> </td>
                <td><%= provider.two.price %> </td>
                <td><%= provider.three.price %> </td>
                <td><%= provider.film_provider.trial_period %></td>
                <td> </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
</div>
 -->