<% providers = PostProvider.unlimited %>

<div class="header">
    <h3 data-toggle="collapse" data-target="#bypostunlimited">By Post - <font class="large">Unlimited</font></h3>
    <h4>Sites that offer unlimited rentals per month, by post, for a higher monthly fee</h4>
</div>
<div id="bypostunlimited" class="collapse in">
    <table class="table">
        <thead>
            <tr>
                <th>Provider</th>
                <th></th>
                <th></th>
                <th></th>
                <th>Trial Period</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% providers.each do |provider| %>
            <tr>
                <td><%= link_to image_tag("core/logos/#{provider.film_provider.image_uri}"), provider.film_provider.uri %>
                </td>
                <td><%= provider.one.price %> </td>
                <td><%= provider.two.price %> </td>
                <td><%= provider.three.price %> </td>
                <td><%= provider.film_provider.trial_period %></td>
                <td><a href="@provider.LinkUri" class="btn btn-primary" target="_blank">Sign Up</a> </td>
            </tr>
        <% end %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6"></td>
            </tr>
        </tfoot>
    </table>
</div>
