<div>
  <%= image_tag @film.image_uri_medium %>
</div>
<div>Director: <%= @film.director %></div>
<div>Starring: <%= @film.actors %></div>
<div>
  <h2><%= @film.title %></h2>
  <p><%=@film.description%></p>
</div>
<div class="clearing"></div>
