<div class="footer_inner">
  <div class="footer_inner_left">
    <%= image_tag "core/footer-img.png" %>
  </div>
  <div class="footer_inner_right">
    <div class="footer_inner_right_left">
      <!--   <div class="footer_icon">
           <ul>
              <li><a href="#"></a></li>
               <li><a href="#"><%= image_tag "core/logos/tw-icon.png" %></a></li>
               <li><a href="#"><%= image_tag "core/logos/ut-icon.png" %></a></li> 
            </ul>
           </div> -->
          <div class="footer_menu">
            <%= render partial:'shared/nav' %>

          </div>
          <div class="footer_bottom">
            2012 Online Film Rental, Inc. All rights reserved <%= link_to image_tag("core/logos/fb-icon.png"),'http://www.facebook.com/onlinefilmrental' %>
          </div>
      </div>
      <div class="footer_inner_right_right">
        <%=image_tag "core/3d-man.png" %>
      </div>
  </div>
</div>