<% content_for :title, "Reviews of leading UK online film providers" %>
<% content_for :html_keywords, "Online DVD Rental, DVD rental comparison, online movie rental, online film rental, online rental, online dvd rental guide, comparison, movie rental guide, online rental providers, best online dvd rental" %>
<% content_for :html_description, "DVD rental review site, comparing leading online movie rental providers and latest online films to rent from the best rental sites such as LOVEFiLM, Netflix, Blockbuster, CinemaParadiso, Tesco's, Easy DVD, HMV, Virgin Media and BlinkBox" %>

<div class="header">
  <h3>Online Film Rental - <font class="large">guides and reviews to the UK's online film rental providers</font></h3>
  <h4>Including in-depth reviews and price comparison of leading providers such as LOVEFiLM, Netflix and Blockbuster</h4>
</div>
<div id="body" class="body_div">
   <div class="body_div_img">
      <div class="body_left">
        <h3>
          <a href="#"><%= image_tag "core/logos/love_img.png" %></a>
        </h3>
        <ul>
          <li><a href="#">By Post</a></li>
          <li><a href="#">Online</a></li>
          <li><a href="#">Free Trial</a></li>
          <li><a href="#">Games option</a></li>
          <li class="none"><a href="#">Part of the Amazon group</a></li>
        </ul>
        <%= render partial:'provider_sign_up', locals:{review_uri:reviews_lovefilm_path, provider:'LOVEFiLM'} %> 
      </div>
      <div class="body_left">
        <h3>
          <a href="#"><%= image_tag "core/logos/love_img2.png" %></a>
        </h3>
        <ul>
          <li><a href="#">By Post</a></li>
          <li><a href="#">Online</a></li>
          <li><a href="#">Free Trial</a></li>
          <li><a href="#">Games option</a></li>
          <li class="none"><a href="#">VIP Ticket</a></li>
        </ul>
        <%= render partial:'provider_sign_up', locals:{review_uri:reviews_blockbuster_path, provider:'Blockbuster'} %> 
      </div>
      <div class="body_left">
        <h3><a href="#"><%= image_tag "core/logos/love_img3.png" %></a></h3>
          <ul>
            <li><a href="#">Online</a></li>
            <li><a href="#">Over 100,000 titles</a></li>
            <li><a href="#">Extensive TV catalogue</a></li>
            <li><a href="#">Extensive kids section</a></li>
            <li><a href="#">Available on many devices</a></li>
          </ul>
        <%= render partial:'provider_sign_up', locals:{review_uri:reviews_netflix_path, provider:'Netflix'} %> 
      </div>
      <div class="body_left">
        <h3>
          <a href="#"><%= image_tag "core/logos/love_img4.png" %></a>
        </h3>
        <ul>
          <li><a href="#">By Post</a></li>
          <li><a href="#">Large world cinema choice</a></li>
          <li><a href="#">Social rewards</a></li>
          <li><a href="#">Competitively priced</a></li>
          <li><a href="#">Friends referral scheme</a></li>
        </ul>
        <%= render partial:'provider_sign_up', locals:{review_uri:reviews_cinemaparadiso_path, provider:'Cinema Paradiso'} %> 
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="banner_left">
      <%= image_tag "core/covers/banner_img.png" %>
    </div>
    <div class="banner_left">
      <%= image_tag "core/covers/banner_img2.png" %>
    </div>
    <div class="banner_left">
      <%= image_tag "core/covers/banner_img3.png" %>
    </div>
    <div class="banner_left">
      <%= image_tag "core/covers/banner_img4.png" %>
    </div>
    <h2>
      <a href="#"><%= image_tag "core/arro_left.png", align:"left" %></a><a href="#"><%= image_tag "core/arro_right.png", align:"right" %></a>
    </h2>
  </div>
  
  <div class="middel">
    <div class="middel_left">
      <h1>
        Join Our Newsletter
      </h1>
      <p>
        Keep upto-date with our latest reviews and guides!
      </p>
      <div class="box">
        <input type="text" class="txt_box" value="Name" />
        <input type="text" class="txt_box" value="Email" />
        <input type="button" class="sus_btn" />
      </div>
    </div>
    <div class="middel_right">
      <div class="middel_right_left">
        <%= image_tag "core/covers/img01.jpg" %>
      </div>
      <div class="middel_right_right">
        <h1>
          Welcome to <span>Online film rental</span>
        </h1>
        <p>
          Find out the latest news on the leading online film rental providers, such as LOVEFiLM, Netflix, Blockbuster and more!
          Providing you with with upto-date guides on the process of renting DVD's via an online service, and offering reviews and
          comparison tables between the providers, Online Film Rental aim is to help you make the best decisions!
        </p>
      </div>
    </div>
</div>

<div class="clearing"></div>