<% @page_title = 'Online Film Rentals Blockbuster review' %>
<% @html_description ='In-depth review of Blockbuster.co.uk website and film rental service' %>
<% @html_keywords ='Blockbuster, review, Blockbuster review, rent dvds online, Blockbuster instants' %>
<% blockbuster = FilmProvider.find_by_name('Blockbuster') %>

<section class="review">    
    <div class="centered">
        <a href="http://www.anrdoezrs.net/click-6330919-10715594" target="_top">
<img src="http://www.awltovhc.com/image-6330919-10715594" width="468" height="60" alt="Blockbuster Subscription Banner - 2 for 1d" border="0"/></a>
    </div>
    <div>
        <h1>Blockbuster Review</h1>
        <p>
            Blockbuster Video is a familiar sight on almost any high street in the UK. However,
            rather than just offering retail style video rental, the familiar brand have also
            branched out into online postal rentals. The service also allows you to link your
            online and in-store accounts. Like other postal rental services, there are no limits
            on how long you keep your disc and no late fees. Sounds great right? But is it as
            good as it seems?</p>
    </div>
    <div>
        <h4>
            What Is BlockBuster?</h4>
        <p>
            Blockbuster are one of the best known DVD rental companies on the UK high street.
            As well as being a staple in most major towns and cities, Blockbuster also has an
            online rental service allowing customers to rent DVDs by post. The service has some
            unique services which set it apart from similar services. Not only can you use Top
            Tickets to guarantee your next rental, but you can reserve rentals in your local
            store and pick them up. There is also the option of renting Video Games.</p>
    </div>
    <div>
        <h4>
            Signing Up For The Service</h4>
        <p>
            It is quick and easy to create an account on the site, just visit <%= link_to 'http://www.blockbuster.co.uk', blockbuster.uri %>
            and fill out the usual information such as name and address. You will need to create
            a payment option so that your account can be verified. The site was offering a 14
            day free trial at the time of writing, but you do need to provide payment details
            for security reasons, just be sure to close the account before the trial expires
            if you find the service is not for you.</p>
        <p class="centered">
            <%= link_to image_tag("core/reviews/blockbuster_signup.jpg",  alt:"Blockbuster signup page"), blockbuster.uri %>
        </p>
    </div>
    <div>
        <h4>
            What You Can Expect To Pay</h4>
        <p>
            As I have mentioned, Blockbuster offer a free 14 day trial on site, but once this
            expires you will be required to pay a monthly subscription fee. There are a wide
            variety of subscription offers available ranging from £4.99 to £14.99 per month
            depending on your anticipated usage. The minimum package allows for just 2 rentals
            per month with one disc at a time while the most expensive allows for unlimited
            DVD and game rentals with up to 3 discs at any time. All packages come with various
            numbers of Blockbuster “TOP TICKETS” which allow you to choose which title will
            be sent next. Otherwise movies are chosen at random from your list.</p>
       <p class="centered">
            <%= link_to image_tag("core/reviews/blockbuster_options.jpg", alt:"Blockbuster pricing plans"), blockbuster.uri%>
        </p>
    </div>
    <div>
        <h4>
            Setting Up Your Rentals</h4>
        <p>
            There is no waiting once you have signed up for the service. You can go ahead and
            prepare your rental list straight away. This is really easy to do. Click on the
            “Rent Movies Online” menu to access the catalogue of movies. You can browse in a
            number of ways. There are a selection of movies which are exclusive to Blockbuster
            or you can use the menu down the left of the screen to choose from new releases
            or a particular genre. When you have selected a movie you want to see, it's just
            a case of clicking the “add to list” button. It is recommended that you keep at
            least 10 movie choices on your rental list at all times. There is also a “click
            & collect” button which is a unique feature allowing you to like your high street
            rental store account to the online one. You can choose a movie online and reserve
            it to collect in the store using your account there.</p>
       <p class="centered">
            <%= link_to image_tag("core/reviews/blockbuster_choice.jpg", alt:"Blockbuster film choice example"), blockbuster.uri %></p>
        <p>
            You can use any TOP TICKET credits that you have to choose which movie is sent to
            you first, but otherwise the movies are sent out in random order, although it is
            possible to give each title priority by altering the number on the left in your
            rental list.</p>
        <p class="centered">
            <%= link_to image_tag("core/reviews/blockbuster_basket.jpg", alt:"Blockbuster basket"), blockbuster.uri %></p>
    </div>
    <div>
        <h4>
            Deliveries & Packaging</h4>
        <p>
            Your rentals are sent via regular mail in a semi-transparent blue polyurethane pack.
            The disc itself is inside a cardboard sleeve. My only complaint about the packaging
            is that because you must tear it open it would be fairly easy to tear the packet
            and you will need it for returning the disc.
        </p>
        <p class="centered">
            <%= link_to image_tag("core/reviews/blockbuster_packaging.jpg", alt:"Blockbuster packaging"), blockbuster.uri %></p>
        <p>
            The polyurethane is strong, but the perforation was not particularly good and I
            had to really tug at it to get it open. In addition, the cardboard sleeve does not
            offer much protection for the disc itself, in fact my first movie did jump a little,
            but thankfully not until the closing credits. Incidentally, the address card has
            space for you to indicate if discs are damaged.</p>
        <p class="centered">
            <%= link_to image_tag("core/reviews/blockbuster_packaging2.jpg", alt:"Blockbuster packaging"), blockbuster.uri %></p>
       <p class="centered">
            <%= link_to image_tag("core/reviews/blockbuster_packaging3.jpg", alt:"Blockbuster packaging"), blockbuster.uri %></p>
        <p>
            When it comes time to return the disc, you reuse the polyurethane packet. It has
            a clever little feature in that the address label insert can be flipped over and
            has the return address on the reverse. The postage is prepaid so it won't cost anything
            extra to return the disc.</p>
        <p class="centered">
            <%= link_to image_tag("core/reviews/blockbuster_packaging4.jpg", alt:"Blockbuster packaging"), blockbuster.uri %></p>
        <p>
            The delivery time is not the fastest I have experienced, but reasonable enough.
            It took 4 days from registration for my first rental to arrive. When I returned
            the disc I received a new film in 3 days. As I have noted, this is not the fastest
            turnaround I have seen, but it still allows for about 7 deliveries a month if your
            package allows unlimited rentals.</p>
    </div>
    <div>
        <h4>
            Conclusion</h4>
        <p>
            In conclusion, Blockbuster offers a solid service with some great features. The
            delivery time is decent enough to make the high end subscriptions worth while and
            the prices are reasonable. The minimum package offers 2 rentals per month for £4.99
            making each one £2.49, cheaper than an in-store rental. As you move through the
            packages the rental price per movie gets cheaper with the top level subscription
            offering rentals at less than £0.80 each. The Top Ticket feature is great and not
            something I have seen with other rental companies, I can see it being very handy
            if you want to see a particular film. It is also nice to be able to reserve movies
            in the high street stores, although it is important to note that this is not included
            in the subscription and you will pay the usual rental charge in-store. I was no
            that impressed by the packaging choice, but it did it's job. Overall Blockbuster
            does offer a good value rental service from a household brand name you can rely
            on.</p>
    </div>
</section>