<% @page_title = 'Online Film Rentals Cinema Paradiso review' %>
<% @html_description ='In-depth review of CinemaParadiso.co.uk website and film rental service' %>
<% @html_keywords ='Cinema Paradiso, review, Cinema Paradiso review, rent dvds online, Cinema Paradiso instants' %>

<section class="review">
	<div>
		<h1>Cinema Paradiso Review </h1>
		<p>
			Online movie rental is becoming increasingly popular and most people can name at
			least one or two of the big players on the market. However, one of the original inventers of online rentals, Cinema Paradiso is a key player that should be seriously considered. Why is this? Let's find out...
		</p>
	</div>
	<div>
		<h4> What Is Cinema Paradiso?</h4>
		<p>
			Cinema Paradiso is a online/postal DVD and Blu-Ray rental service based in the UK.
			One of the key features that sets them apart from their competitors is that in addition
			to the blockbusters and classics, they also offer the largest collection of foreign
			films in the online rentals market. This is a large bonus for movie buffs who know
			that many of the most critically acclaimed films are in the world cinema category.
			Cinema Paradiso has foreign films from a veritable A to Z of countries from Argentina
			to Yugoslavia. For me personally this is a great feature. I love Horror movies and
			all of the best ones are from Japan and Russia. This puts a big check mark in the
			'pros' column for me.
		</p>
	</div>
	<div>
		<h4> Signing Up For The Service</h4>
		<p>
			It is really simple to sign up for an account at Cinema Paradiso, just visit https://www.cinemaparadiso.co.uk/Visitor/SignUp.aspx
			and fill out all of the usual information such as your name, address and email address.
			There is currently a 30 day free trial, but you will still have to input a credit
			or debit card in order to secure your membership as is standard practice among most
			rental services.
		</p>
		<div class="centered">
			<%= image_tag("core/reviews/cinemaparadiso_signup.jpg" ,alt:"Cinemea Paradiso Signup page") %>></p>
		</div>
		<div>
			<h4> What You Can Expect To Pay</h4>
			<p>
				Cinema Paradiso has the most varied range of subscription offers I have seen, there
				really is something to suit everyone. The subscriptions are arranged in three categories:
				Limited; Limited (with credit roll-over); and Unlimited. The cheapest option is
				the Limited package at just £3.89 per month. This allows you 2 rental per month,
				one disc at a time. This is great for occasional viewers at under £2 per rental.
				On the next level the Limited (with credit roll-over) allows you to choose between
				2 and 4 discs per month with prices ranging from £4.89 to £8.16. The difference
				here is that you can carry forward any unused rentals to the next month. For example,
				if you have a subscription for 3 rentals per month and only use 2, then you can
				use 4 the following month (3 Rentals + 1 Roll-over Credit). This is good if your
				viewing time fluctuates from month to month. Finally, the unlimited package allows
				for as many rentals as you like every month and you can select between 1 and 5 discs
				at a time. The cost ranges from £9.99 to £25.52 depending on which monthly package
				you choose.
			</p>
			<div class="centered">
				<%= image_tag("core/reviews/cinemaparadiso_option.jpg" ,alt:"Cinema Paradiso pricing plans") %>></p>
			</div>
			<div>
				<h4> Setting Up Your Rentals</h4>
				<p>
					Once the account is created, it is very easy to create your rental list by clicking
					on the Film & TV menu to access the catalogue. Then it is a simple case of clicking
					the “Add” button on any film you fancy. You can filter the catalogue by using the
					menu on the right hand side of the screen to select a genre, year of release or
					even the country of production.
				</p>
				<div class="centered">
					<%= image_tag("core/reviews/cinemaparadiso_choice.jpg" ,alt:"Cinema Paradiso film choices") %>></p>
					<p>
						You should have 10 to 15 films on your rental list to ensure a steady flow. Titles
						are sent randomly but it is possible to change the priority level by adjusting the
						number on the left of each title in your rental list.
					</p>
					<div class="centered">
						<%= image_tag("core/reviews/cinemaparadiso_basket.jpg" ,alt:"Cinema Paradiso basket") %>></p>
					</div>
					<div>
						<h4> Deliveries & Packaging</h4>
						<p>
							The disc is sent via Royal Mail in a brightly coloured yellow and blue envelope,
							the disc itself is in a soft paper sleeve. The packaging is easy to open and sturdy
							while the soft paper is gentle enough not to damage the disc itself. THe paper sleeve
							for the disc also features a sticker with a short synopsis of the film - great for
							people like me who load up the rental list with movies that look good, but then
							by the time they arrive I have forgotten what it was about! Now I have a quick reference
							guide!
						</p>
						<div class="centered">
							<%= image_tag("core/reviews/cinemaparadiso_packaging.jpg" ,alt:"Cinema Paradiso packaging") %>></p>
							<div class="centered">
								<%= image_tag("core/reviews/cinemaparadiso_packaging2.jpg" ,alt:"Cinema Paradiso packaging") %>></p>
								<p>
									The envelope doubles as the return packaging by removing your address to leave a
									resealable return envelope. The delivery time was very impressive. My first rental
									arrived the day after registration, so must have been posted the same day. I returned
									it the following day and had my next disc within 2 days. This means that you can
									receive 2 deliveries every week, possibly even 3 on some occasions.
								</p>
								<div class="centered">
									<%= image_tag("core/reviews/cinemaparadiso_packaging3.jpg" ,alt:"Cinema Paradiso packaging") %>></p>
								</div>
								<div>
									<h4> Conclusion</h4>
									<p>
										In Conclusion, Cinema Paradiso is able to offer a great level of service and a large
										choice of movies to rent. The subscriptions available are the widest selection I
										have seen, making sure there is something for every budget and viewing style. The
										packaging is sturdy and easy to open and the added specialization in foreign films
										is an extra bonus. One other attractive feature is the affiliate option. If you
										recommend Cinema Paradiso to friends, you get one month free for every 6 people
										who sign up. Full details of the ‘films for friends’ affiliate plan are available
										on the Cinema Paradiso website, and full details are included with the rental printed
										on the detachable address panel of the packaging. Overall, I think that considering
										Cinema Paradiso is a lesser known brand, it offers a great selection of films and
										top class customer service. It is certainly worth a trial! The site is perhaps the
										most easy to navigate as it is uncluttered and straightforward. There is no live
										streaming option or game rental, but if you are more interested in movies only then
										Cinema Paradiso is a great choice.
									</p>
									<div class="centered">
										<%= image_tag("core/reviews/cinemaparadiso_reward.jpg" ,alt:"Cinema Paradiso refer a friend") %>></p>
									</div>
</section>