<% @page_title = 'Online Film Rental - LOVEFiLM review' %>
<% @html_description ='In-depth review of LOVEFilMs website and film rental service' %>
<% @html_keywords ='LOVEFiLM, review, LOVEFiLM review, rent dvds online, LOVEFiLM instants' %>
<% lovefilm = FilmProvider.find_by_name('LOVEFiLM') %>

<section class="review">
    <div>
    <div>
        <h1>LOVEFiLM Review</h1>
        <p>
            Remember the days when you would go to the local video rental store and pick out
            a couple of film to watch? As a child I found it really exciting and I wanted to
            do it every weekend! I could never understand why my parents were reluctant. Now
            as an adult with a family of my own, I realise that it is not actually that convenient
            for my busy lifestyle. It can be difficult to find time to fit in making the trip
            to the rental store and I was always losing my membership card or forgetting to
            bring the films back so I ended up with late fees. When I first heard about LOVEFiLM
            I was really interested to give it a try.</p>
    </div>
    <div>
        <h4>
            What Is LOVEFiLM?</h4>
        <p>
            LOVEFiLM is a DVD & Blu-Ray rental store with a difference. Instead of visiting
            a retail location, you manage your account online and your movie choices are posted
            out to you to watch and return. The biggest attraction is that you pay a flat fee
            every month so you will never have a late fee. You can keep the film for one night,
            or hang on to it for 2 weeks if you choose. The only thing that I was initially
            wary of was that it all seemed too good to be true. However, I had a voucher for
            a free trial membership so I decided to give it a try. I felt reassured by the fact
            that LOVEFiLM is actually operated by Amazon. The backing of sure a well known company
            helped put me at ease.</p>
    </div>
    <div>
        <h4>
            Signing Up For The Service</h4>
        <p>
            Signing up for an account is easy. It is simply a case of visiting the sign-up page
            at <%= link_to 'LOVEFiLM.com', lovefilm.uri %> and filling out some personal details. You
            will be asked to provide your full name, email address, password and postal address
            including a UK postcode. There is a space to include a phone number, but this is
            not mandatory. Even if you are taking advantage of a free trial, you will be asked
            to provide payment details. This not only confirms your identity, but covers the
            company against dishonest people who fail to return the trial discs. However, as
            long as you cancel prior to the trial ending you will not be charged.
        </p>
        <p>
            <%= link_to image_tag("core/reviews/lovefilm_signup.jpg" ,alt:"LOVEFiLM signup page"), lovefilm.uri %>
        </p>
    </div>
    <div>
        <h4>
            What You Can Expect To Pay</h4>
        <p>
            There are always a variety of free trial offers available to new members and at
            the time of writing the offer on site was a 30 day trial. It is not uncommon to
            be sent vouchers for trials along with anything you order from Amazon and there
            are often inserts in magazines and newspapers too. However, once your trial is over
            you will want to think about the cost of the service. There are a number of different
            price plans available depending on how many movies you are likely to watch. The
            cheapest option is the “By Post” package. Priced at £5.99 per month, it allows you
            up to 3 movies each month, with only one rental at any time. If you are likely to
            watch more movies, then you will probably find the “Have It All” options more suitable.
            These packages allow unlimited rentals throughout the month and gives free access
            to the instant streaming content which is also offered by LOVEFiLM. Depending on
            the number of rentals you want access to at once (1 to 3 discs) the price of this
            package ranges from £7.99 to £13.27. These offer good value for money, because if
            you are in the habit of only keeping the discs for one night you could watch up
            to 15 movies a month for just £7.99 – that's a very impressive £0.53 per rental.
            Considering a high street DVD rental or a Satellite/Cable movie on demand can cost
            up to £5 each this is a substantial saving. There are also additional packages for
            those who wish to enjoy only streaming content, or who wish to add video game rental.
            Details of these are available on <%= link_to 'LOVEFiLM.com', lovefilm.uri %>
        </p>
        <p>
            <%= link_to image_tag("core/reviews/lovefilm_prices.jpg" ,alt:"LOVEFiLM price options"), lovefilm.uri %>
        </p>
    </div>
    <div>
        <h4>
            Setting Up Your Rentals</h4>
        <p>
            The sign up process is instant, so as soon as you complete the process you can set
            up your account. The first thing you will need to do is create a rental list. The
            service works by maintaining a list of films and television programs that you want
            to watch. Your rentals are selected at random from this list, although it is possible
            to give priority to the movies you are most anxious to see. It is recommended that
            you keep a minimum of 10 titles on your rental list at all times. Adding to your
            rental list is easy. Simply click on the Film & TV menu and select which format
            you want to rent (DVD, Blu-Ray, HD DVD). Alternatively you may wish to browse by
            genre, but make sure you choose the correct format.
        </p>
        <p>
            <%= link_to image_tag("core/reviews/lovefilm_navigation.jpg" ,alt:"LOVEFiLM navigation"), lovefilm.uri %>
        </p>
        <p>
            Then it is just a case of browsing the available titles and clicking the “Rent Now”
            button when you see something you like. It is also possible to filter the results
            by genre or release date by selecting these from the links on the left of the catalogue.</p>
        <p>
            <%= link_to image_tag("core/reviews/lovefilm_choice.jpg" ,alt:"LOVEFiLM film choice"), lovefilm.uri %>
        </p>
        <p>
            Once your rental list is set up you can view it at any time by clicking on the “Rental
            List” tab of the main navigation menu. As well as your list of films you want to
            rent you will also be able to see what you currently have in the “Titles at Home”
            area. You can also set up your priority rentals here. You can even create multiple
            lists based on which family member wants to see a film, or by genre and you will
            be sent rentals from each list in turn. To adjust the priority of your rentals,
            scroll down your list until you find the film you want to see sooner than the others.
            It will as default be marked “NORMAL”. All you need to do is click on this button
            and it will be allocated as HIGH priority, meaning that when your rentals are selected
            they will come from the high priority ones first.</p>
        <p>
            <%= link_to image_tag("core/reviews/lovefilm_basket.jpg" ,alt:"LOVEFiLM rentat list"), lovefilm.uri %>
        </p>
    </div>
    <div>
        <h4>
            Deliveries & Packaging
        </h4>
        <p>
            Your DVD or Blu-Ray rentals are send via regular mail in a specially designed packet.
            You will not get the plastic cases, instead you will be sent the disc inside a protective
            plastic sleeve. The special packaging also doubles as a return envelope, so open
            it carefully.</p>
        <p>
            <%= link_to image_tag("core/reviews/lovefilm_packaging.jpg" ,alt:"LOVEFiLM packaging"), lovefilm.uri %>
        </p>
        <p>
            When you are ready to return the disc, slip up to 3 discs back into the envelope
            and remove the detachable panel on the right which has your address on it. Seal
            up the remaining portion with the sticky strip provided and you are ready to return
            the disc. The envelope is prepaid so it won't cost anything. If for any reason the
            envelope is damaged or lost you can simply place the disc in any envelope and use
            the free-post address listed on the website. You can also contact LOVEFiLM for a
            supply of spare envelopes.</p>
        <p>
            <%= link_to image_tag("core/reviews/lovefilm_envelope.jpg" ,alt:"LOVEFiLM envelope"), lovefilm.uri %>
        </p>
        <p>
            The turnaround time for deliveries is really fast. You will receive your first disc(s)
            within 2 working days. When you return the discs you will wait 2 or 3 days for the
            next set to arrive. The discs are generally sent out the same day as the returns
            are received. I posted back my watched DVD on Monday morning and got a new disc
            on Wednesday. The longest I have waited so far is 4 days, but that did include a
            bank holiday on which there was no post.</p>
    </div>
    <div>
        <h4>
            Conclusion</h4>
        <p>
            In conclusion, LOVEFiLM offers a very efficient DVD rental service and the prices
            are very competitive. You get all of the enjoyment of renting a movie with none
            of the hassle associated with a high street rental shop. There are no late fees
            and no additional charges. The account is simple to set up and easily managed online.
            The site also features thousands of articles, reviews and suggestions if you are
            ever struggling to fill up your rental list. I would definitely recommend it.</p>
    </div>
</section>