<% @page_title = 'Online Film Rentals Netflix review' %>
<% @html_description ='In-depth review of Netflix website and film rental service' %>
<% @html_keywords ='Netflix, review, Netflix review, rent dvds online, Netflix instant' %>

<section class="review">
    <div>
        <h1>NetFlix Review</h1>
        <p>
            Online DVD & Blu-Ray rental is really popular at the moment thanks to the convenience
            and the low cost compared to high street rental stores. However, recently a new
            player emerged on the UK market in the form of Netflix. As one of the most popular
            on demand TV and Movie services in the United States, Netflix recently launched
            in the United Kingdom too. The main difference being that there is no postal service
            – all viewing is done via the on demand streaming service which can be accessed
            in a number of ways.</p>
    </div>
    <div>
        <h4>
            So What Is Netflix?</h4>
        <p>
            As mentioned, Netflix offers on demand streaming of movies and television shows
            for a low cost monthly subscription. The service can be accessed on almost any internet
            ready device including, but not limited to the following:-<ul>
                <li>
                    Laptop
                </li>
                <li>
                    Desktop Computer</li>
                <li>
                    Mac Computer</li>
                <li>
                    Nintendo Wii
                </li>
                <li>
                    Xbox 360
                </li>
                <li>
                    Playstation 3
                </li>
                <li>
                    iPad
                </li>
                <li>
                    Android Tablets and Smartphones
                </li>
                <li>
                    iPhone
                </li>
                <li>
                    Media Players
                </li>
                <li>
                    Blu-Ray players
                </li>
                <li>
                    TV (internet ready or via a cabled connection to one of the devices above)
                </li>
            </ul>
            Members can rate and review what they watch and share their activities on Facebook
            instantly recommending titles to friends and family. This is then coupled with various
            other factors to offer you personal recommendations based on previous viewings,
            friends preferences and the latest member reviews. That way you always know when
            something of interest is available. There are no late fees, no postage concerns
            - just instant viewing at your convenience.
        </p>
    </div>
    <div>
        <h4>
            How Can I Sign Up?</h4>
        <p>
            Netflix is incredibly easy to sign up for if you have a Facebook account. All you
            need to do is connect to www.netflix.co.uk with your Facebook profile and you will
            get a one month free trial. You will be required to enter billing details for the
            subsequent subscription payments. Subscription is fixed at just £5.99 per month
            and you can watch as many programs as you wish. You should be aware that if you
            intend to view on Xbox 360 you will also need to pay for a separate Xbox Live subscription,
            and iPhone or Android may incur additional fees for internet connectivity, but all
            others should not cost anything extra as you will be using your home internet connection.</p>
        <p>
            <%= image_tag("core/reviews/netflix_home.jpg" ,alt:"Netflix home page") %></p>
    </div>
    <div>
        <h4>
            Choice of Viewing</h4>
        <p>
            There is a huge variety of movies and television programs, including full season
            or one off specials. It is possible to tailor the recommendations that are made
            on your homepage by filling out a short survey on your viewing preferences which
            can be accessed from the 'Personalize' menu link.</p>
        <p>
            <%= image_tag("core/reviews/netflix_choice.jpg" ,alt:"Netflix film choices") %></p>
        <p>
            <%= image_tag("core/reviews/netflix_settings.jpg" ,alt:"Netflix user settings") %></p>
        <p>
            It is also possible to view your options by Genre by clicking on the appropriate
            menu, or alternatively you can search by a favourite actor or director too.</p>
        <p>
            <%= image_tag("core/reviews/netflix_categories.jpg" ,alt:"Netflix film genres") %></p>
        <p>
            When viewing your selection, there is a useful tool bar at the bottom of the screen
            which fades out when not in use, this allows you to pause, fast forward and rewind;
            look at film or series details including episode guides; and change the screen size
            to full view. There is also the option to share or not share what you are watching
            with your Facebook friends. As default all programs you view are scared, but this
            can be overridden at the touch of a button when you select any program, Now you
            can be safe from ridicule if you spend your Sunday afternoon watching cheesy 80's
            movies – no-one will ever know your secret! When in full screen viewing mode, you
            get a clear, crisp picture of DVD quality. The screen capture below shows viewing
            at full screen on an ordinary laptop. The picture is even better when fed through
            the Television, either through a games console or media player or by hooking up
            your computer to the television with the appropriate cable.</p>
        <p>
            <%= image_tag("core/reviews/netflix_player.jpg" ,alt:"Netflix online player") %></p>
    </div>
    <div>
        <h4>
            Pros and Cons</h4>
        <p>
            One of the big plus points to Netflix if you have a family is that they have a dedicate
            children's section. This is great for families for a number of reasons. Firstly,
            you can let the children know that it's okay for them to watch anything in that
            area knowing it is suitable for them. Secondly, for me this has been valuable for
            long trips and holidays. I can take advantage of free wi-fi on trains and in hotels
            and let the kids watch movies on the laptop to keep them from getting bored.</p>
        <p>
            <%= image_tag("core/reviews/netflix_kids.jpg" ,alt:"Netflix Just for Kids") %></p>
        <p>
            Another huge advantage to the Netflix service is that there is no need to wait for
            discs to arrive. You can just log in and watch whatever you want right away. This
            is great if you have a hectic life, I know I've done postal rentals in the past
            and the movie has sat for a week before I had a chance to view it, but with Netflix
            I can watch whenever I choose. It's also good for watching a complete season of
            a show, I can watch a few a day and get through a full season in a week!</p>
        <p>
            On the downside, there is the issue of streaming quality. I have found that the
            picture quality is really great, but I do have a high speed internet connection
            so the bandwidth is not an issue for me; however, there is a chance that if you
            have a slower or unreliable connection there could be some buffering issues as the
            program loads. I have experienced this once or twice when using the service while
            travelling, it can pause to load part of the way through. This has only been intermittent
            for me, but I can see it being annoying if you have a slower connection which does
            this a lot. If that is the case you may be better off with a postal subscription.
            I have also found that compared with other services, Netflix does not always have
            the latest releases available. However; the service is still in its infancy in the
            UK so I hope this will change in future as the USA version seems to have a much
            more up to date selection.
        </p>
        <p>
            Overall, Netflix presents great value for money and a really good quality service.
            With over 25 million subscribers worldwide, Netflix certainly looks set to replicate
            the success it enjoys in the United States it can only go from strength to strength.</p>
    </div>
</section>