<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Online Film Rental | ' + yield(:title) %></title>
    <meta name="description" content="<%= (html_description = yield :html_description) ? html_description : 'Film rental review site, comparing leading online movie rental providers and latest online films to rent from the best rental sites such as LOVEFiLM, Netflix, Blockbuster, Cinema Paradiso and more!' %>">
    <meta name="keywords" content="<%= (html_keywords = yield :html_keywords) ? html_keywords : 'Online DVD Rental, DVD rental comparison, online movie rental, online film rental, online rental, online dvd rental guide, comparison, movie rental guide, online rental providers, best online dvd rental' %>">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33780762-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

<meta name="verification" content="44910fc0a0d8feb8d6c0053f664e3e6e" />

  </head>
  <body>
    <div id="container">
      <header>
        <%= render :template => 'app/mega_header' %>
      </header>
      
      <div id="main" role="main">
        <%= yield %>
        <div class="clearing"></div>
      </div>
    </div>
    <footer>
          <%= render :template => 'app/footer' %>
    </footer>
  </body>
</html>
